.main {
    height: 100vh;
    display: grid;
    background-color: rgb(31, 34, 66);
    border-top-left-radius: 20px;
    grid-template-rows: 1fr 2fr;
    position: sticky;
    top: 0;
}

.test {
    text-align: center;
    margin: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 100px rgb(28, 30, 57);
}

.test h6 {
    text-align: left;
    color: whitesmoke;
    margin: 10px;
}
.test span{
    color: whitesmoke;
    font-weight: bold;
}

.imageCenter{
    margin-top: 15px;
    text-align: center;
}

.image {
    object-fit: cover;
    border-radius: 10px;
}

.second {
    margin: 10px 30px;
    border-radius: 10px;
}

.second h1 {
    text-align: center;
    margin-top: 10px;
}
.test a{
    text-decoration: none;
    color: rgb(103,89,136);
    font-weight: bold;
}

.inputLogin input {
    border: none;
    background: transparent;
    box-shadow: 0 2px 0 var(--primary-color);
    font-size: 20px;
    height: 1.5rem;
    margin: 1.2rem 0;
    outline: none;
    width: 100%;
}

.inputLogin input:nth-child(7) {
    display: none;
}

.buttonLogin {
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 3.5rem;
    width: 100%;
}