.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem 5rem;
    background-image: url("https://images.unsplash.com/photo-1465066989788-372fcdde2f2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80");
    background-size: cover;
}

.authContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    background-color: rgba(240, 248, 255, 0.4);
    backdrop-filter: blur(8px);
    padding: 2rem;
    border-radius: 15px;
}

.loginContent {
    background-color: rgba(37, 40, 75, 0.8);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2.5rem;
    padding: 2rem 1rem;
    width: 100%;
}

.photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80px;
    color: aliceblue;
}


.titleLogin {
    color: aliceblue;
    margin: 2rem;
    text-align: center;
}

.inputLogin input {
    border: none;
    background: transparent;
    box-shadow: 0 2px 0 var(--primary-color);
    font-size: 20px;
    height: 1.5rem;
    margin: 1.2rem 0;
    outline: none;
    width: 100%;
}

.inputLogin input:nth-child(7) {
    display: none;
}

.inputLogin input::placeholder {
    color: aliceblue;
    text-align: center;
}

.inputLogin input:-webkit-autofill{

}

.buttonLogin {
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 3.5rem;
    width: 100%;
}

.passwordText {
    text-align: end;
}

.error {
    font-size: 14px;
    color: red;
    display: inline-block;
}