.div nav {
    height: 100vh;
    border-top-right-radius: 20px;
    background-color: rgb(31, 34, 66);
    backdrop-filter: blur(8px);
}

.sep {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}