.div nav {
    height: 100vh;
    background-color: rgb(31, 34, 66);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 0 1px #A1A1A1;
}

.sep {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}