.main {
    height: 100vh;
    background-color: rgb(31, 34, 66);
    border-top-right-radius: 20px;
    position: sticky;
    top: 0;
    padding: 3rem 0 0 0;
}

.first {
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}

.first a {
    color: aliceblue;
    font-size: 1.5em;
}

.second {
    text-align: center;
}

.second a {
    color: aliceblue;
    font-size: 1.2em;
    transition: all 500ms ease-in-out;
}

.second a:hover {
    transform: scale(1.4);
}

.second h3 {
    color: aliceblue;
}

.first a:hover {
    color: #74a8f6;
    text-shadow: 3px 3px 16px #333;
}

.image {
    text-align: center;
    filter: invert(1);
}

.image img {
    object-fit: cover;
}