html,
body {
    padding: 0;
    margin: 0;
    background: rgb(37, 40, 75);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
