.div nav {
    background-color: rgb(31, 34, 66);
    box-shadow: 2px 2px 5px #A1A1A1;
    border-top-right-radius: 1%;
    height: 100vh;
    width: 20vw;
    font-size: 18px;
    text-align-all:left;
}

.div a {
    color: rgb(224,220,246);
    text-decoration: none;
    margin-left: 30px;
}

.sep {
    padding-top: 20px;
    padding-bottom: 20px;
}
