.div nav{
    background-color: rgb(40, 4, 102);
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 5px #A1A1A1;
    margin-right: 85rem;
    border-top-right-radius: 10%;
}
.sep{
    padding-bottom: 10px;
}